body {
    font-family: 'Poppins', sans-serif;
    min-height: 75vh;
    background: linear-gradient(to right, #8360c3, #2ebf91);
    align-items: center;
    justify-content: center;
    position: relative;
}

